docker.enabled = true

params {
    // It appears that all optional parameters need to be set to null to avoid error when not provided on command line.
    dge_h5ad = null
    dge_matrix = null
    reduced_gtf = null
    matrix_mtx = null
    features_tsv = null
    barcodes_tsv = null
    mmc_args = ''
    gene_mapping = null
    analysis_identifier = 'mapmycells_analysis'
}

workflow {
    output {
        mode = 'copy'
    }
}

profiles {
  gcp {
    process.executor = 'google-batch'

    workDir = 'gs://mccarroll_scrnaseq_central_temp/alecw/nextflow-work'

    google {
      project = 'mccarroll-scrna-seq'
      region  = 'us-central1'
      batch {
        network    = 'projects/mccarroll-scrna-seq/global/networks/broad-allow'
        subnetwork = 'projects/mccarroll-scrna-seq/regions/us-central1/subnetworks/broad-allow'
      }
    }
  }
  aws {
      wave { enabled=true }
   batch {
      maxSpotAttempts = 10
      terminateUnschedulableJobs = true
      volumes = '/scratch/fusion:/tmp'
      executionRole = 'arn:aws:iam::328065811914:role/TowerForge-2OWUzlUPbxKCToXIwNuWB2-ExecutionRole'
   }
   region = 'us-east-1'
   client {
      uploadChunkSize = 10485760
   }
    
 }
}
