docker.enabled = true
wave { enabled=true }
profiles {
  gcp {
    process.executor = 'google-batch'

    workDir = 'gs://mccarroll_scrnaseq_central_temp/alecw/nextflow-work'

    google {
      project = 'mccarroll-scrna-seq'
      region  = 'us-central1'
      batch {
        network    = 'projects/mccarroll-scrna-seq/global/networks/broad-allow'
        subnetwork = 'projects/mccarroll-scrna-seq/regions/us-central1/subnetworks/broad-allow'
      }
    }
  }
  aws {
   batch {
      maxSpotAttempts = 10
      terminateUnschedulableJobs = true
      volumes = '/scratch/fusion:/tmp'
      executionRole = 'arn:aws:iam::328065811914:role/TowerForge-2OWUzlUPbxKCToXIwNuWB2-ExecutionRole'
   }
   region = 'us-east-1'
   client {
      uploadChunkSize = 10485760
   }
    
 }
}
