/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

/*
    Default published was set up by nf-core pipeline creation, but it's not really appropriate rather than thoughtful publishing.
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
*/
    withName: FASTQC {
        ext.args = '--quiet'
    }

    // Evidently this is the way to pass argument to nf-core STAR module.  Doesn't seem very flexible.
    withName: STAR_ALIGN {
        ext.args = '--readFilesType SAM SE --readFilesCommand samtools view --outBAMcompression 0'
        cpus = 1

        // Memory requirements too big to run on my laptop, so send to cloud.
        executor = 'google-batch'
        // This appears to be necessary to avoid running STAR every time, even if the input BAM file hasn't changed.  See
        // https://www.nextflow.io/docs/latest/reference/process.html#cache
        cache = 'lenient'

    }

    withName: ASSIGN_CELLS_TO_SAMPLES {
        // Memory requirements too big to run on my laptop, so send to cloud.
        executor = 'google-batch'
        // This appears to be necessary to avoid re-running  every time.
        // https://www.nextflow.io/docs/latest/reference/process.html#cache
        cache = 'lenient'
    }

    withName: DETECT_DOUBLETS {
        // Memory requirements too big to run on my laptop, so send to cloud.
        executor = 'google-batch'
        // This appears to be necessary to avoid re-running  every time.
        // https://www.nextflow.io/docs/latest/reference/process.html#cache
        cache = 'lenient'
    }

    withName: GATK4_MERGEBAMALIGNMENT {
        ext.args = '--CLIP_ADAPTERS false --INCLUDE_SECONDARY_ALIGNMENTS true --SORT_ORDER coordinate --COMPRESSION_LEVEL 0 --VALIDATION_STRINGENCY SILENT'
    }
    withName: PICARD_SORTSAM {
        ext.args = '--COMPRESSION_LEVEL 0 --VALIDATION_STRINGENCY SILENT'
    }
    withName: GATK4_APPLYBQSR {
        ext.args = '--disable-read-filter WellformedReadFilter'
        ext.suffix = 'bam'
    }

    withName: PICARD_FASTQTOSAM {
        ext.args = {
            ["--SAMPLE_NAME", meta.library, "--LIBRARY_NAME", meta.library, "--PLATFORM", "ILLUMINA"].join(" ")
        }
    }

    withName: PICARD_COLLECTRNASEQMETRICS {
        ext.args = '--STRAND_SPECIFICITY NONE'
    }

    withName: CELLBENDER_REMOVEBACKGROUND {
        executor = 'google-batch'
        // This appears to be necessary to avoid re-running  every time.
        // https://www.nextflow.io/docs/latest/reference/process.html#cache
        cache = 'lenient'
        ext.use_gpu = true
        ext.args = {meta.cbrb_args.join(" ")}

        // TODO: This appears to work, but is it the right thing to do?
        // hardware requirements 
        cpus = 4
        memory = 32.GB
        machineType = 'n1-highmem-8'
        accelerator = [request: 4, type: "nvidia-tesla-t4"]

    }
}
